<!DOCTYPE html>
<html lang="en">


  <body>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="#">
            <img src="http://images.china.cn/attachement/jpg/site1002/20150403/0019b91eca5716889cfa52.jpg" alt="Ten years">
            <div class="carousel-caption"></a>
            <h3>中法文化之春</h3>
            <p>多元文化的碰撞</p>
          </div>
        </div>

        <div class="item">
          <a href="#">
            <img src="http://www.faguowenhua.com/uploads/images/Cx%202017%20article%20g%C3%A9n%C3%A9ral/Croisements_Opening_20170418_72%204.jpg" alt="Wuhan">
            <div class="carousel-caption"></a>
            <h3>十年，十位形象大使</h3>
            <p>中法文化之春 十周年庆</p>
          </div>
        </div>

        <div class="item">
          <a href="#">
            <img src="https://cn.ambafrance.org/local/cache-vignettes/L787xH493/c10-dd2c3.png" alt="Changsha">
            <div class="carousel-caption"></a>
            <h3>武汉</h3>
            <p>中法文化之春——武汉地区活动一览</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="container">
      <h2>2017中法文化之春宣传片</h2>
      <p>点击观看视频</p>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="http://player.youku.com/embed/XMjcxNDUxMDYzMg==" width="200" height="180" type="application/x-shockwave-flash"></iframe>
      </div>
    </div>

    <div class="container text-center">
      <h3>中法文化之春</h3>
      <p>
        <em>中法文化之春是一项广受欢迎的多元化文化节，旨在呈现法国艺术届及学术届在中国的活力与创意，并为那些有利于增强和促进中法两国文化交流的项目提供支持。</em>
      </p>
      <p>
        第12届中法文化之春将于2017年5月6日至7月9日在中国的30座城市举办，展现65个项目，共计216场活动。 应邀参加本届艺术节的法国艺术家们从中国的现实题材里汲取灵感，向公众呈现最精彩的中法文化合作成果。 今年，中法文化之春有幸邀来音乐家崔健、电影导演贾樟柯、雕塑家隋建国、舞蹈家王亚彬、漫画家陆明等5位中国文艺界领军人物担任推广大使，他们将把各自最心水的活动推荐给公众。
      </p>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <p class="text-center">
            <strong>北京</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff4tz3n60mj308k05vaa8.jpg" class="img-circle city" alt="Beijing">
          </a>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>上海</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff4tz3wceuj308n064jri.jpg" class="img-circle city" alt="Shanghai">
          </a>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>武汉</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff4tz3xb9oj309706t74i.jpg" class="img-circle city" alt="Wuhan">
          </a>
        </div>
      </div>
    </div>

    <div class="bg-1">
      <div class="container">
        <h3 class="text-center">中法文化之春</h3>
        <p class="text-center">5月6日 - 7月9日<br>
          精彩活动，不容错过！</p>

        <div class="list-group list-special">
          <a href="#" class="list-group-item active list-group-item-info">5月活动<span class="label label-danger">火热报名中</span>
          </a>
          <a href="#" class="list-group-item">6月活动<span class="label label-danger">火热报名中</span>
          </a>
          <a href="#" class="list-group-item active list-group-item-danger">7月活动<span class="label label-danger">火热报名中</span>
          </a>
        </div>

        <div class="row text-center">
          <div class="col-sm-4 activity btn-special">
            <div class="thumbnail">
              <img src="http://www.faguowenhua.com/uploads/article/1491816293_st_etienne_Vue_nuit_2.jpg" alt="Exposition">
              <p>
                <strong>展览 | 从莫奈到苏拉热：西方现代绘画之路 (1800-1980)</strong>
              </p>
              <p>2017年05月06日 - 2017年08月31日</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">我要报名</button>
            </div>
          </div>

          <div class="col-sm-4 activity btn-special">
            <div class="thumbnail">
              <img src="http://www.faguowenhua.com/uploads/article/1491808921_Capture_de%CC%81cran_2017-04-10_a%CC%80_15.21.35.png" alt="Musical festival">
              <p>
                <strong>音乐 | 2017夏至音乐节</strong>
              </p>
              <p>2017年06月23日 - 2017年06月25日</p>
              <!-- Used to open the Modal -->
              <button class="btn" data-toggle="modal" data-target="#myModal">我要报名</button>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4>
                        <span class="glyphicon glyphicon-lock"></span>
                        Tickets</h4>
                    </div>
                    <div class="modal-body">
                      <form role="form">
                        <div class="form-group">
                          <label for="psw">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Tickets, $23 per person</label>
                          <input type="number" class="form-control" id="psw" placeholder="How many?">
                        </div>
                        <div class="form-group">
                          <label for="usrname">
                            <span class="glyphicon glyphicon-user"></span>
                            Send To</label>
                          <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-block">Pay
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                      </button>
                      <p>Need
                        <a href="#">help?</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 activity btn-special">
            <div class="thumbnail">
              <img src="http://www.faguowenhua.com/uploads/article/1491820904_1480605333_(1).jpg" alt="theatre">
              <p>
                <strong>戏剧 | 美杜莎之筏</strong>
              </p>
              <p>2017年07月07日 - 2017年07月08日</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">我要报名</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->


    <div class="container text-center">
      <div class="row">
        <div class="col-sm-4">
          <p class="text-center">
            <strong>推广大使</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff72iacf1dj3074074jrh.jpg" class="img-circle city" alt="Beijing">
          </a>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>心水推荐</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff737mzar8j3074074mx0.jpg" class="img-circle city" alt="Shanghai">
          </a>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>所有活动</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff7316qromj3074074mx8.jpg" class="img-circle city" alt="Wuhan">
          </a>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>合作伙伴</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff7345wqftj3074074aa5.jpg" class="img-circle city" alt="Beijing">
          </a>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>上海</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff4tz3wceuj308n064jri.jpg" class="img-circle city" alt="Shanghai">
          </a>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>武汉</strong>
          </p><br>
          <a href="#demo" data-toggle="collapse">
            <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff4tz3xb9oj309706t74i.jpg" class="img-circle city" alt="Wuhan">
          </a>
        </div>
      </div>
    </div>









<!-- Add Google Maps -->
<div id="googleMap"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(39.916667,116.416667);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3qDx2nhPNLeVXH1eJ0rE5SWfFX8lB3Y0&callback=myMap"></script>






  </body>
</html>
